.project-card {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.25rem;
    background-color: white;

    &__title {
        padding: 0.5rem;
        padding-bottom: 1rem;
        & > h3 {
            font-size: 1.5rem;
            margin: 0;
        }
    }

    &__img {
        height: 12rem;
        width: 100%;
        background-color: #cfd8dc;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top left;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        background-color: #191c23;
        padding: 0.5rem;

        .tag {
            background-color: #eceff1;
            padding: 0.25rem 1rem;
            margin: 0.1rem;
            border-radius: 1rem;
            color: black;
            font-size: 0.9rem;
            white-space: nowrap;
        }
    }

    &__content {
        padding: 1rem 0.5rem;
        & > p {
            margin: 0;
        }
    }
}
