@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Bebas Neue", cursive;
}
