---
import ProjectCard from '../components/ProjectCard.jsx'
let title = 'Jim Peart - Web Developer';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <style lang="scss">
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Jim Peart</h1>

                <ProjectCard astro={title}/>
            </div>
        </header>
    </main>
</body>
</html>
