---
import MainHead from '../components/MainHead.astro'
import IndexHeader from '../components/IndexHeader/index.jsx'
import ProjectCard from '../components/ProjectCard/index.jsx'

const title = 'Jim Peart - Web Developer';
const projects = Astro.fetchContent('./project/*.md')
  .filter(({published_on}) => !!published_on)
  .sort((a, b) => new Date(b.published_on) - new Date(a.published_on));
---
<html lang="en">
<head>
  <MainHead title={title} />
  <style lang="scss">
    .main {
      h2 {
        display: inline-block;
        max-width: 20rem;
        font-size: 2.3rem;
        border-bottom: 0.3rem solid #b00D25;
      }
            
      .grid {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        .card > a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  </style>
</head>
<body>
    <IndexHeader />
    <main class="main">
      <h2>Projects</h2>
      <div class="grid">
      {projects.map(p => (
        <div class="card">
          <a href={p.url}>
            <ProjectCard project={p} />
          </a>
        </div>
      ))}
      </div>
    </main>
</body>
</html>
