---
import MainHead from '../components/MainHead.astro'
import IndexHeader from '../components/IndexHeader/index.jsx'
import ProjectCard from '../components/ProjectCard/index.jsx'
let title = 'Jim Peart - Web Developer';
let cards = new Array(7).fill("card");
---
<html lang="en">
<head>
  <MainHead title={title} />
  <style lang="scss">
      .wrapper {
        max-width: 100rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 2rem;
        padding-left: 2rem;
      }

      .grid {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
      }

      .header {
        grid-column: 1 / 5;
        grid-row: 1;
        text-align: center;
      }

      .card {
        grid-column: span 1;
      }
  </style>
</head>
<body>
  <main class="wrapper">
    <div class="grid">
      <div class="header">
        <IndexHeader />
      </div>
      {cards.map(c => (
        <div class="card">
          <ProjectCard /> 
        </div>
      ))}
    </div>
  </main>
</body>
</html>
