---
import MainHead from '../components/MainHead.astro'
import IndexHeader from '../components/IndexHeader/index.jsx'
import ProjectCard from '../components/ProjectCard/index.jsx'

let title = 'Jim Peart - Web Developer';
let cards = new Array(7).fill("card");
---
<html lang="en">
<head>
  <MainHead title={title} />
  <style lang="scss">
      body {
        max-width: 100rem;
        margin: 1rem auto 2rem auto;
        padding: 0 1rem;

        & > .main {
          h2 {
            display: inline-block;
            max-width: 20rem;
            font-size: 2.3rem;
            border-bottom: 0.3rem solid #b8bc86;
          }
          
          .grid {
            display: grid;
            grid-gap: 3rem;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
          }
        }
      }
  </style>
</head>
<body>
    <IndexHeader />
    <main class="main">
      <h2>Projects</h2>
      <div class="grid">
      {cards.map(c => (
        <div class="card">
          <ProjectCard /> 
        </div>
      ))}
      </div>
    </main>
</body>
</html>
