---
const {title = "Jim Peart - Web Developer"} = Astro.props
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Jim Peart's project portfolio site that details some of the web applications he's built.">
<title>{title}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="stylesheet" type="text/css" href="/styles/global.css">
<script src="https://kit.fontawesome.com/4a9f115b1d.js" crossorigin="anonymous"></script>