.ih {
    text-align: center;
    &-logo {
        width: 7rem;
    }
    & > h1 {
        color: #191c23;
        margin-bottom: 0;
        font-size: 3rem;
    }
    & > p {
        display: inline-block;
        padding: 0.1rem 0.5rem;
        background: #191c23;
        color: white;
        margin-top: 1rem;
        font-size: 1.5rem;
        white-space: nowrap;
        font-family: "Space Mono", monospace;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: rotate(-3deg);
        transition: transform 0.3s ease;
        &:hover {
            transform: rotate(0deg);
        }
    }
}
