---
import MainHead from '../components/MainHead.astro' 
import BackButton from '../components/BackButton/index.jsx'

const {content} = Astro.props;
---
<html lang="en">
<head>
  <MainHead title={content.title} />
  <style lang="scss">
     
  </style>
</head>
<body>
  <heading>
  <BackButton />
  </heading>
    <main class="main">
      <h2>{content.title}</h2>
      <slot></slot>
    </main>
</body>
</html>