---
import MainHead from '../components/MainHead.astro' 
import BackButton from '../components/BackButton/index.jsx'
import ImageSlider from '../components/ImageSlider/index.jsx'

const {content} = Astro.props;
---
<html lang="en">
<head>
  <MainHead title={`Jim Peart - ${content.title}`} />
  <style lang="scss">
    .main {
      background-color: rgba(255,255,255,0.1);
      backdrop-filter: blur(3px);
    } 

  </style>
</head>
<body>
  <heading>
  <BackButton />
  </heading>
    <main class="main">
      <h2>{content.title}</h2>
      <ImageSlider client:load images={content.images} />
      <slot></slot>
      <BackButton />
    </main>
</body>
</html>